<!DOCTYPE html>
<html>
<head>

</head>

<body>

<div class="header">
  <h1>Usuarios</h1>
</div>

<div class="container mt-5 table-responsive">
  <div class="ml-2">
    <input type="text" [(ngModel)]="filtroApellido" placeholder="Filtrar por Apellido" class="form-control">
  </div>
  <br>
  <table class="table table table-bordered" >
    <thead>
    <tr>
      <th (click)="sortDataByColumn('ID_USER')">ID
        <i class="fa" [ngClass]="{'fa-arrow-up': orderBy === 'ID_USER' && isAsc, 'fa-arrow-down': orderBy === 'ID_USER' && !isAsc}"></i>
      </th>
      <th (click)="sortDataByColumn('FIRST_NAME')">
        NOMBRES
        <i class="fa" [ngClass]="{'fa-arrow-up': orderBy === 'FIRST_NAME' && isAsc, 'fa-arrow-down': orderBy === 'FIRST_NAME' && !isAsc}"></i>
      </th>
      <th (click)="sortDataByColumn('LAST_NAME')">
        APELLIDOS
        <i class="fa" [ngClass]="{'fa-arrow-up': orderBy === 'LAST_NAME' && isAsc, 'fa-arrow-down': orderBy === 'LAST_NAME' && !isAsc}"></i>
      </th>
      <th (click)="sortDataByColumn('REGISTRATION_DATE')">
        FECHA DE REGISTRO
        <i class="fa" [ngClass]="{'fa-arrow-up': orderBy === 'REGISTRATION_DATE' && isAsc, 'fa-arrow-down': orderBy === 'REGISTRATION_DATE' && !isAsc}"></i>
      </th>
      <th>CORREO ELECTRONICO</th>
      <th>MODIFICAR</th>
      <th>ELIMINAR</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dato of filtrarPorApellido() | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage">
      <td>{{ dato.ID_USER }}</td>
      <td>{{ dato.FIRST_NAME }}</td>
      <td>{{ dato.LAST_NAME }}</td>
      <td>{{ dato.REGISTRATION_DATE | date: 'MM/dd/yyyy hh:mm:ss a' }}</td>
      <td>{{ dato.EMAIL }}</td>
      <td>
        <button class="btn btn-primary" (click)="modificarUsuario(dato)">Modificar</button>
      </td>
      <td>
        <button class="btn btn-danger">Inactivar</button>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination
          [totalItems]="users.length"
          [(ngModel)]="currentPage"
          [itemsPerPage]="itemsPerPage"
          [maxSize]="maxSize"
          [boundaryLinks]="true"
          [previousText]="'Anterior'"
          [nextText]="'Siguiente'"
          [lastText]="'Final'"
          [firstText]="'Primer'"
          (pageChanged)="onPageChange($event)">
  </pagination>
</div>


</body>

</html>


