<!DOCTYPE html>
<html>
<head>

</head>

<body>

<div class="header">
  <h1>Usuarios</h1>
</div>

<div class="container mt-5">
  <table class="table">
    <thead>
    <tr>
      <th (click)="sortBy('ID_USER')">ID_USER</th>
      <th (click)="sortDataByColumn('FIRST_NAME')">
        FIRST_NAME
        <i class="fa" [ngClass]="{'fa-arrow-up': orderBy === 'FIRST_NAME' && isAsc, 'fa-arrow-down': orderBy === 'FIRST_NAME' && !isAsc}"></i>
      </th>
      <th (click)="sortDataByColumn('LAST_NAME')">
        LAST_NAME
        <i class="fa" [ngClass]="{'fa-arrow-up': orderBy === 'LAST_NAME' && isAsc, 'fa-arrow-down': orderBy === 'LAST_NAME' && !isAsc}"></i>
      </th>
      <th (click)="sortDataByColumn('REGISTRATION_DATE')">
        REGISTRATION_DATE
        <i class="fa" [ngClass]="{'fa-arrow-up': orderBy === 'REGISTRATION_DATE' && isAsc, 'fa-arrow-down': orderBy === 'REGISTRATION_DATE' && !isAsc}"></i>
      </th>
      <th (click)="sortBy('EMAIL')">EMAIL</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dato of users | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage">
      <td>{{ dato.ID_USER }}</td>
      <td>{{ dato.FIRST_NAME }}</td>
      <td>{{ dato.LAST_NAME }}</td>
      <td>{{ dato.REGISTRATION_DATE }}</td>
      <td>{{ dato.EMAIL }}</td>
    </tr>
    </tbody>
  </table>
  <pagination
          [totalItems]="users.length"
          [(ngModel)]="currentPage"
          [itemsPerPage]="itemsPerPage"
          [maxSize]="maxSize"
          [boundaryLinks]="true"
          (pageChanged)="onPageChange($event)">
  </pagination>
</div>


</body>

</html>


