.header {
  color: #0062A9;
  background-color: #b4b4b4;
  text-align: center;
  padding: 20px;
}

.pagination-previous::before {
  content: "Anterior";
}

.pagination-next::after {
  content: "Siguiente";
}
