<html>
<header>
  <div class="header">
    <h2>Modificar Historial Automotor</h2>
  </div>
</header>

<body>

<form>
  <div class="container mt-5 border p-4 rounded body1">
    <div class="form-group mb-4">
      <label>Fecha de creación:</label>
      <div>
        <input type="date">
      </div>
    </div>

    <div class="form-group mb-4">
      <label>Fecha de ingreso: </label>
      <div>
        <input type="date">
      </div>
    </div>

    <div class="form-group">
      <label>Propietario Actual:</label>
      <br>
      <input type="text">
    </div>
    <br>
    <div class="form-group">
      <label>Contacto Propietario:</label>
      <br>
      <input type="text">
    </div>
    <br>
    <div class="form-group">
      <label>Fecha de Servicio:</label>
      <br>
      <input type="date" name="fecha_servicio">
    </div>
    <br>
    <div class="form-group">
      <label>Notas adicionales</label>
      <br>
      <textarea></textarea>
    </div>
  </div>

  <div class="container mt-4 border  p-4 rounded body1">
    <h3>Datos del Vehiculo</h3>
<br>
    <form>
      <div class="form-group mb-4">
        <label>Numero Placa</label>
        <br>
        <input type="text">
      </div>
        <div class="form-group mb-4">
          <label>Número de Licencia de Tránsito:</label>
          <br>
          <input type="text">
        </div>

        <div class="form-group mb-4">
          <label>Estado del Vehículo:</label>
          <br>
          <select>
            <option value="" disabled selected>Seleccione una opcion</option>
            <option *ngFor="let n of vehicleState" >{{n}}</option>
          </select>
        </div>
        <br>

        <div class="form-group mb-4">
          <label>Tipo de Servicio:</label>
          <br>
          <select>
            <option value="" disabled selected>Seleccione una opcion</option>
            <option *ngFor="let n of transitAgency" >{{n}}</option>
          </select>
        </div>

        <div class="form-group mb-4">
          <label>Clase de Vehículo:</label>
          <br>
          <select>
            <option value="" disabled selected>Seleccione una opcion</option>
            <option *ngFor="let n of optionsBodyTipe" >{{n}}</option>
          </select>
        </div>

        <div class="form-group mb-4">
          <label>Marca:</label>
          <br>
          <input type="text">
        </div>

        <div class="form-group mb-4">
          <label>Línea:</label>
          <br>
          <input type="text">
        </div>

        <div class="form-group mb-4">
          <label>Modelo:</label>
          <br>
          <input type="text">
        </div>

        <div class="form-group mb-4">
          <label>Color:</label>
          <br>
          <input type="text">
        </div>

        <div class="form-group mb-4">
          <label>Número de Motor:</label>
          <br>
          <input type="text">
        </div>

        <div class="form-group mb-4">
          <label>Número de Chasis:</label>
          <br>
          <input type="text">
        </div>

        <div class="form-group mb-4">
          <label>Número de VIN:</label>
          <br>
          <input type="text">
        </div>

        <div class="form-group mb-4">
          <label>Cilindraje:</label>
          <br>
          <input type="text">
        </div>

        <div class="form-group mb-4">
          <label>Tipo de Carrocería:</label>
          <br>
          <select>
            <option value="" disabled selected>Seleccione una opcion</option>
            <option *ngFor="let n of optionsBodyTipe" >{{n}}</option>
          </select>
        </div>

        <div class="form-group mb-4">
          <label>Fecha de Matrícula:</label>
          <br>
          <input type="date">
        </div>

        <div class="form-group mb-4">
          <label>Tiene Gravámenes:</label>
          <br>
          <select>
            <option value="" disabled selected>Seleccione una opcion</option>
            <option>Si</option>
            <option>No</option>
          </select>
        </div>

        <div class="form-group mb-4">
          <label>Organismo de Tránsito:</label>
          <br>
          <select>
            <option value="" disabled selected>Seleccione una opcion</option>
            <option *ngFor="let n of transitAgency1" >{{n}}</option>
          </select>
        </div>

        <div class="form-group mb-4">
          <label>Clasificación:</label>
          <br>
          <select>
            <option value="" disabled selected>Seleccione una opcion</option>
            <option *ngFor="let n of optionsBodyTipe" >{{n}}</option>
          </select>
        </div>

        <div class="form-group mb-4">
          <label>Es Regrabado Motor:</label>
          <br>
          <select>
            <option value="" disabled selected>Seleccione una opcion</option>
            <option>Si</option>
            <option>No</option>
          </select>
        </div>

        <div class="form-group mb-4">
          <label>Es Regrabado Chasis:</label>
          <br>
          <select>
            <option value="" disabled selected>Seleccione una opcion</option>
            <option>Si</option>
            <option>No</option>
          </select>
        </div>

        <div class="form-group mb-4">
          <label>Es Regrabado Serie:</label>
          <br>
          <select>
            <option value="" disabled selected>Seleccione una opcion</option>
            <option>Si</option>
            <option>No</option>
          </select>
        </div>

        <div class="form-group mb-4">
          <label>Clásico Antiguo:</label>
          <br>
          <select>
            <option value="" disabled selected>Seleccione una opcion</option>
            <option>Clasico</option>
            <option>Antiguo</option>
          </select>
        </div>

        <div class="form-group mb-4">
          <label>Tipo de Combustible:</label>
          <br>
          <select>
            <option value="" disabled selected>Seleccione una opcion</option>
            <option *ngFor="let n of combustible" >{{n}}</option>
          </select>
        </div>

        <div class="form-group mb-4">
          <label>Tarjeta de Servicio:</label>
          <br>
          <input type="text">
        </div>

        <div class="form-group mb-4">
          <label>Seguridad Estado:</label>
          <br>
          <input type="text">
        </div>

        <div class="form-group mb-4">
          <label>Verificación Valida DIAN:</label>
          <br>
          <input type="text">
        </div>

        <div class="form-group mb-4">
          <label>Número de Placa:</label>
          <br>
          <input type="text">
        </div>

        <div class="form-group mb-4">
          <label>Peso Bruto Vehicular:</label>
          <br>
          <input type="text">
        </div>

        <div class="form-group mb-4">
          <label>Número de Ejes:</label>
          <br>
          <input type="text">
        </div>

        <div class="form-group mb-4">
          <label>Pasajeros Sentados:</label>
          <br>
          <input type="text">
        </div>

        <div class="form-group mb-4">
          <label>Número de Póliza SOAT:</label>
          <br>
          <input type="text">
        </div>

        <div class="form-group mb-4">
          <label>Fecha de Expedición SOAT:</label>
          <br>
          <input type="date">
        </div>

        <div class="form-group mb-4">
          <label>Fecha de Vigencia SOAT:</label>
          <br>
          <input type="date">
        </div>

        <div class="form-group mb-4">
          <label>Fecha de Vencimiento SOAT:</label>
          <br>
          <input type="date">
        </div>

        <div class="form-group mb-4">
          <label>Entidad que Expide SOAT:</label>
          <br>
          <input type="text">
        </div>

        <div class="form-group mb-4">
          <label>Estado:</label>
          <br>
          <select>
            <option value="" disabled selected>Seleccione una opcion</option>
            <option>Activo</option>
            <option>Inactivo</option>
          </select>
        </div>

        <div class="form-group mb-4">
          <label>Tipo de Tarifa:</label>
          <br>
          <input type="text">
        </div>

        <div class="form-group mb-4">
          <label>TecnoMecánica:</label>
          <div>
            <input type="text" placeholder="Tipo de Revisión">
            <input type="date" placeholder="Fecha de Expedición">
            <input type="date" placeholder="Fecha Vigente">
            <input type="text" placeholder="CDA que Expide">
            <input type="text" placeholder="Vigente">
            <input type="text" placeholder="Número de Certificado">
            <input type="text" placeholder="Información Consistente">
          </div>
        </div>

      <button type="button" class="btn btn-primay">Modificar</button>
    </form>

  </div>
</form>

</body>
</html>
