/*@font-face {*/
/*  font-family: 'Average Sans';*/
/*  src: url('https://fonts.cdnfonts.com/css/average-sans') format('woff2'),*/
/*  url('https://fonts.cdnfonts.com/css/average-sans') format('woff');*/
/*  !* Agrega formatos adicionales si tienes archivos .ttf o .otf *!*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*}*/

h5,p{
  color: black;
}

.carousel-caption d-none d-md-block{
  color: black;
}
.contenedor-carrusel{
  min-height: 90%;
  min-width: 100%;
}
.text-carrusel{
  background-color: rgba(128, 128, 128, 0.4);
  padding: 10px;
}
/*.header {
  background-color: #b4b4b4;
  color: black;
  text-align: center;
  padding: 10px;
}*/

.body-info{
  text-align: center;
  color: #202123;
}
h1{
  text-align: center;
}


.cotainer{
  background: #b4b4b4;
}

/* Estilos para los servicios */
.services {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  text-align: center;
  transition: background-color 0.3s;
}

.service:hover {
  background-color: #3498db;
  color: white;
  cursor: pointer;
}
/*Contactos*/
.contact {
  color: black;
  bottom: 0;
  background-color: #b4b4b4 ;
  padding: 10px;
  text-align: left;
  font-size: 12px;
}


:root {
  --background: #3C343D;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-color: var(--background);
  display: grid;
  place-items: center;
  /*height: 100vh;*/
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 6000px;
}

.card {
  position: relative;
  left: 0px;
  width: 700px;
  border-radius: 16px;
  height: 360px;
  overflow: hidden;
  background-color: var(--background);
  transition: 0.4s ease-in-out;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  flex: 0.25;
}

.card img {
  height: 360px;
}

.card:hover {
  flex: 2;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}





