<html>
<header>
  <div class="header">
    <h2>Ver Historial Automotor</h2>
  </div>
</header>

<body>

<form #historyDataForm="ngForm" (ngSubmit)="seeHistory(historyDataForm)">

  <div class="container mt-5 border p-4 rounded body1">

    <div class="form-group mb-4">
      <label>Fecha de ingreso:</label>
      <div>
        <label> {{selecteHistoy.ENTRY_DATE}}</label>
      </div>
    </div>

    <div class="form-group">
      <label>Propietario Actual:</label>
      <br>
      <label> {{selecteHistoy.CURRENT_OWNER}}
      </label>
    </div>
    <br>

    <div class="form-group">
      <label>Contacto Propietario:</label>
      <br>
      <label>{{selecteHistoy.OWNER_CONTACT}}
      </label>
    </div>
    <br>


    <div class="form-group">
      <label>Notas adicionales:</label>
      <br>
      <label> {{selecteHistoy.ADDITIONAL_NOTES}}</label>
    </div>
  </div>

  <div class="container mt-4 border  p-4 rounded body1">
    <h3>Datos del Vehiculo</h3>
    <br>

    <div class="form-group mb-4">
      <label>Numero Placa:</label>
      <br>
      <label> {{selecteHistoy.LICENSE_PLATE_NUMBER}}
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Estado del Vehículo:</label>
      <br>
      <label> {{selecteHistoy.VEHICLE_STATE}}
        <!--      <select id="vehicleState" name="vehicleState" [(ngModel)]="selecteHistoy.VEHICLE_STATE">-->
        <!--        <option value="" disabled selected>Seleccione una opción</option>-->
        <!--      </select>-->
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Tipo de Servicio:</label>
      <br>
      <label> {{selecteHistoy.SERVICE_TYPE}}
        <!--      <select id="serviceType" name="serviceType" [(ngModel)]="selecteHistoy.SERVICE_TYPE">-->
        <!--        <option value="" disabled selected>Seleccione una opción</option>-->
        <!--      </select>-->
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Clase de Vehículo:</label>
      <br>
      <label> {{selecteHistoy.VEHICLE_CLASS}}</label>
        <!--      <select id="vehicleClass" name="vehicleClass" [(ngModel)]="selecteHistoy.VEHICLE_CLASS">-->
        <!--        <option value="" disabled selected>Seleccione una opción</option>-->
        <!--      </select>-->

    </div>

    <div class="form-group mb-4">
      <label>Marca:</label>
      <br>
      <label>{{selecteHistoy.BRAND}}</label>
    </div>

    <div class="form-group mb-4">
      <label>Línea:</label>
      <br>
      <label >{{selecteHistoy.LINE}}
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Modelo:</label>
      <br>
      <label >{{selecteHistoy.MODEL}}
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Color:</label>
      <br>
      <label >{{selecteHistoy.COLOR}}
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Número de Motor:</label>
      <br>
      <label >{{selecteHistoy.ENGINE_NUMBER}}
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Número de Chasis:</label>
      <br>
      <label >{{selecteHistoy.CHASSIS_NUMBER}}
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Número de VIN:</label>
      <br>
      <label >{{selecteHistoy.VIN_NUMBER}}
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Cilindraje:</label>
      <br>
      <label >{{selecteHistoy.DISPLACEMENT}}
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Tipo de Carrocería:</label>
      <br>
      <label >{{selecteHistoy.BODY_TYPE}}
        <!--      <select id="bodyType" name="bodyType" [(ngModel)]="selecteHistoy.BODY_TYPE">-->
        <!--        <option value="" disabled selected>Seleccione una opción</option>-->
        <!--      </select>-->
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Tiene Gravámenes:</label>
      <br>
      <label >{{selecteHistoy.HAS_ENCUMBRANCES}}
        <!--      <select id="hasEncumbrances" name="hasEncumbrances" [(ngModel)]="selecteHistoy.HAS_ENCUMBRANCES">-->
        <!--        <option value="" disabled selected>Seleccione una opción</option>-->
        <!--        <option [value]="true">Si</option>-->
        <!--        <option [value]="false">No</option>-->
        <!--      </select>-->
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Es Regrabado Motor:</label>
      <br>
      <label >{{selecteHistoy.IS_ENGINE_RETAGGED}}
        <!--      <select id="isEngineRetagged" name="isEngineRetagged" [(ngModel)]="selecteHistoy.IS_ENGINE_RETAGGED">-->
        <!--        <option value="" disabled selected>Seleccione una opción</option>-->
        <!--        <option [value]="true">Si</option>-->
        <!--        <option [value]="false">No</option>-->
        <!--      </select>-->
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Es Regrabado Chasis:</label>
      <br>
      <label >{{selecteHistoy.IS_CHASSIS_RETAGGED}}
        <!--      <select id="isChassisRetagged" name="isChassisRetagged" [(ngModel)]="selecteHistoy.IS_CHASSIS_RETAGGED">-->
        <!--        <option value="" disabled selected>Seleccione una opción</option>-->
        <!--        <option [value]="true">Si</option>-->
        <!--        <option [value]="false">No</option>-->
        <!--      </select>-->
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Es Regrabado Serie:</label>
      <br>
      <label >{{selecteHistoy.IS_SERIAL_NUMBER_RETAGGED}}
        <!--      <select id="isSerialNumberRetagged" name="isSerialNumberRetagged" [(ngModel)]="selecteHistoy.IS_SERIAL_NUMBER_RETAGGED">-->
        <!--        <option value="" disabled selected>Seleccione una opción</option>-->
        <!--        <option [value]="true">Si</option>-->
        <!--        <option [value]="false">No</option>-->
        <!--      </select>-->
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Tipo de Combustible:</label>
      <br>
      <label >{{selecteHistoy.FUEL_TYPE}}
        <!--      <select id="fuelType" name="fuelType" [(ngModel)]="selecteHistoy.FUEL_TYPE">-->
        <!--        <option value="" disabled selected>Seleccione una opción</option>-->
        <!--      </select>-->
      </label>
    </div>



    <div class="form-group mb-4">
      <label>Total Pasajeros:</label>
      <br>
      <label >{{selecteHistoy.TOTAL_PASSENGERS}}
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Verificación Valida DIAN:</label>
      <br>
      <label >{{selecteHistoy.DIAN_VALID}}
        <!--      <select id="dianValid" name="dianValid" [(ngModel)]="selecteHistoy.DIAN_VALID">-->
        <!--        <option value="" disabled selected>Seleccione una opción</option>-->
        <!--        <option [value]="true">Si</option>-->
        <!--        <option [value]="false">No</option>-->
        <!--      </select>-->
      </label>
    </div>


    <div class="form-group mb-4">
      <label>Peso Bruto Vehicular:</label>
      <br>
      <label >{{selecteHistoy.GROSS_VEHICLE_WEIGHT}}
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Número de Ejes:</label>
      <br>
      <label >{{selecteHistoy.NUMBER_OF_AXLES}}
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Pasajeros Sentados:</label>
      <br>
      <label >{{selecteHistoy.TOTAL_PASSENGERS}}
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Número de Póliza SOAT:</label>
      <br>
      <label >{{selecteHistoy.SOAT_POLICY_NUMBER}}
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Entidad que Expide SOAT:</label>
      <br>
      <label >{{selecteHistoy.ISSUING_ENTITY_SOAT}}
      </label>
    </div>

    <div class="form-group mb-4">
      <label>Estado:</label>
      <br>
      <label >{{selecteHistoy.STATUS}}
        <!--      <select id="status" name="status" [(ngModel)]="selecteHistoy.STATUS">-->
        <!--        <option value="" disabled selected>Seleccione una opción</option>-->
        <!--        <option>Activo</option>-->
        <!--        <option>Inactivo</option>-->
        <!--      </select>-->
      </label>
    </div>

    <div class="form-group mb-4">
      <label>TecnoMecánica:</label>
      <div>
        <label >{{selecteHistoy.INSPECTION_TYPE}}
          <br>
        </label>
      </div>
    </div>

    <!--    <button type="submit" class="buttonSave">Crear</button>-->

  </div>
</form>

</body>
