<!DOCTYPE html>
<html>

<body>

<div class="header">
  <h1>Crear Usuario</h1>
</div>

<div >
  <form #myForm="ngForm" (submit)="signUp(myForm)" >
    <div class="login-form">
    <label class="label">Nombre</label>
    <br>
    <input type="text" id="firstName" [(ngModel)]="first_name" name="first_name" required type="text" maxlength="255">
    <br>

    <label class="label">Apellido</label>
    <br>
    <input type="text" id="last_name" [(ngModel)]="last_name" name="last_name" required type="text" type="text"  required maxlength="255">
    <br>

      <label  class="label">Tipo de Identificación</label>
      <br>
      <select id="identification_type" name="identification_type" [(ngModel)]="identification_type" >
        <option value="" disabled selected>Seleccione una opcion</option>
        <option *ngFor="let n of optionsTypeIdentificastionNumber" >{{n}}</option>
        <br>
      </select>
      <br>
      <br>

      <label  class="label">Numero de Identificación</label>
      <br>
      <input type="text" id="identification_number" [(ngModel)]="identification_number" name="identification_number" requiredtype="number" required (input)="onDocumentInfoInput()">
      <br>

    <label for="email" class="label">Correo Electrónico</label>
    <br>
    <input type="email" id="email" [(ngModel)]="email" name="email" required>
    <br>

    <label  class="label">Contraseña</label>
    <br>
    <input type="password" id="password" [(ngModel)]="password" name="password" requiredtype="password" required maxlength="255">
    <br>

    </div>
    <button class="buttonSave" type="submit" (click)="validateDocument()">Crear</button>


  </form>
</div>

</body>
</html>

