<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div class="header">
  <h1>Crear Usuario</h1>
</div>

<div >
  <form>
    <div class="login-form">
    <label class="label">Nombre</label>
    <br>
    <input type="text"  required>
    <br>

    <label class="label">Apellido</label>
    <br>
    <input type="text"  required>
    <br>

    <label class="label">Nombre de usuario</label>
    <br>
    <input type="text"  required>
    <br>

    <label class="label">Correo Electrónico</label>
    <br>
    <input type="text"  required>
    <br>

    <label  class="label">Contraseña</label>
    <br>
    <input type="password" required>
    <br>

    <label class="label">Celular</label>
    <br>
    <input type="text"  required>
    <br>
    </div>
    <button class="buttonSave" type="submit">Crear</button>

  </form>
</div>

</body>
</html>

