<!DOCTYPE html>
<html>

<body>

<div class="header">
  <h1>Detalles Orden de Servicio</h1>
</div>
<br>

<div >
  <form #myForm="ngForm" >
    <div class="orderService-form">

      <label class="label1">Id Historia del Automotor: </label>
      <br>
      <label>{{ selectedOrder.ID_STORY}}</label>
      <br>
      <br>

      <label class="label1">Servicio:</label>
      <br>
      <label>{{ selectedOrder.SERVICE}}</label>
      <br>
      <br>

      <label class="label1">Fecha:</label>
      <br>
      <label>{{ selectedOrder.ISSUE_DATE}}</label>

      <br>
      <br>

      <label class="label1">Descripción de la orden:</label>
      <br>
      <label>{{ selectedOrder.DESCRIPTION}}</label>

      <br>
      <br>

      <label class="label1">Observaciones:</label>
      <br>
      <label>{{ selectedOrder.OBSERVATIONS}}</label>
      <br>
      <br>

      <label class="label1">Tecnico Responsable:</label>
      <br>
      <label>{{ selectedOrder.RESPONSIBLE_TECHNICIAN}}</label>
      <br>
      <br>

      <label class="label1">Tipo de Insepección:</label>
      <br>
      <label>{{ selectedOrder.SERVICE}}</label>
      <br>
      <br>

      <label class="label1">Costo Total:</label>
      <br>
      <label>{{ selectedOrder.TOTAL_COST}}</label>
      <br>
      <br>
      <button class="btn btn-primary" (click)="addChange()" style="margin-right: 10px;">Agregar Cambio</button>
      <button class="btn btn-danger" (click)="changeState()" style="margin-left: 10px;">Dar finalizada la orden</button>

      <br>
      <br>
    </div>

<br>

  </form>
  <div class="changes">
<br>
  <div >
    <h3>Cambios de la Orden</h3>
  </div>

  <div class="container mt-5 table-responsive">

    <br>
    <table class="table table table-bordered" >
      <thead>
      <tr>
        <th (click)="sortDataByColumn('ID_CHANGE')">ID CAMBIO
          <i class="fa" [ngClass]="{'fa-arrow-up': orderBy === 'ID_CHANGE' && isAsc, 'fa-arrow-down': orderBy === 'ID_CHANGE' && !isAsc}"></i>
        </th>
        <th (click)="sortDataByColumn('DESCRIPTION')">DESCRIPCIÓN
          <i class="fa" [ngClass]="{'fa-arrow-up': orderBy === 'DESCRIPTION' && isAsc, 'fa-arrow-down': orderBy === 'DESCRIPTION' && !isAsc}"></i>
        </th>

        <th (click)="sortDataByColumn('REFERENCES_PARTS')">PARTES REMPLAZADAS
          <i class="fa" [ngClass]="{'fa-arrow-up': orderBy === 'REFERENCES_PARTS' && isAsc, 'fa-arrow-down': orderBy === 'REFERENCES_PARTS' && !isAsc}"></i>
        </th>


      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dato of filtrar() | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage">
        <!--        <td>{{getPlateByHistory(dato.ID_STORY)}}</td>-->
        <td>{{ dato.ID_CHANGE}}</td>
        <td>{{ dato.CHANGE_DESCRIPTION }}</td>
        <td>{{ dato.REFERENCES_PARTS}}</td>


      </tr>
      </tbody>
    </table>
    <pagination
      [totalItems]="changes.length"
      [(ngModel)]="currentPage"
      [itemsPerPage]="itemsPerPage"
      [maxSize]="maxSize"
      [boundaryLinks]="true"
      [previousText]="'Anterior'"
      [nextText]="'Siguiente'"
      [lastText]="'Final'"
      [firstText]="'Primer'"
      (pageChanged)="onPageChange($event)">
    </pagination>
  </div>
<br>
    <div>
      <h4>Registro fotografico</h4>
      <div class="image-container">
        <div *ngFor="let imageUrl of images">
          <img [src]="imageUrl.IMAGE_URL" alt="Imagen">

        </div>
      </div>
    </div>


  </div>
</div>

</body>
</html>



