<div class="container">
  <div class="header">
    <h1>Registros de Logs</h1>
  </div>

  <div *ngIf="logs && logs.length > 0">
    <button class="btn btn-primary" (click)="downloadLogs()">Descargar Logs</button>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Método</th>
          <th>URL</th>
          <th>Estado</th>
          <th>Usuario</th>
          <th>Fecha de Creación</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let log of logs">
          <td>{{ log.id }}</td>
          <td>{{ log.method }}</td>
          <td>{{ log.url }}</td>
          <td>{{ log.status }}</td>
          <td>{{ log.name_user }}</td>
          <td>{{ log.created_at | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
