<!DOCTYPE html>
<html>
<head>

</head>

<body>

<div class="header">
  <h1>Ordenes</h1>
</div>

<div class="container mt-5 table-responsive">
  <div class="ml-2">
    <input type="text" [(ngModel)]="filtroApellido" placeholder="Filtrar por Apellido" class="form-control">
  </div>
  <br>
  <table class="table table table-bordered" >
    <thead>
    <tr>
      <th (click)="sortDataByColumn('ID_USER')">ID
        <i class="fa" ></i>
      </th>
      <th (click)="sortDataByColumn('FIRST_NAME')">
        Servicio
        <i class="fa" ></i>
      </th>
      <th (click)="sortDataByColumn('LAST_NAME')">
        Descripción de la orden
        <i class="fa"></i>
      </th>
      <th (click)="sortDataByColumn('REGISTRATION_DATE')">
        Costo Total
        <i class="fa"></i>
      </th>
      <th>Tecnico Responsable</th>
      <th>MODIFICAR</th>
      <th>ELIMINAR</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dato of filtrarPorApellido() | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage">
      <td>{{ dato.ID_USER }}</td>
      <td>{{ dato.FIRST_NAME }}</td>
      <td>{{ dato.LAST_NAME }}</td>
      <td>{{ dato.REGISTRATION_DATE | date: 'MM/dd/yyyy hh:mm:ss a' }}</td>
      <td>{{ dato.EMAIL }}</td>
      <td>
        <button class="btn btn-primary" (click)="modificarUsuario(dato)">Modificar</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="eliminarUsuario(dato.ID_USER)">Inactivar</button>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination
    [totalItems]="users.length"
    [(ngModel)]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [maxSize]="maxSize"
    [boundaryLinks]="true"
    [previousText]="'Anterior'"
    [nextText]="'Siguiente'"
    [lastText]="'Final'"
    [firstText]="'Primer'"
    (pageChanged)="onPageChange($event)">
  </pagination>
</div>


</body>

</html>
