<!DOCTYPE html>
<html>
<head>

</head>

<body>

<div class="header">
  <h1>Ordenes</h1>
</div>

<div class="container mt-5 table-responsive">
  <div class="d-flex align-items-center ml-2">

    <div *ngIf="selectedCategory === 'Fecha'" class="div-label">
      <input type="text" [(ngModel)]="filtroServicio" placeholder="AAAA-MM-DD" class="form-control input-large">
    </div>

    <div *ngIf="selectedCategory !== 'Fecha'"  class="div-label">
      <input type="text" [(ngModel)]="filtroServicio" placeholder="Filtrar por: " class="form-control input-large">
    </div>

    <select class="form-select ml-2" [(ngModel)]="selectedCategory" (change)="assignSelectedCategory(selectedCategory)">
      <option value="">Todas las Categorías</option>
      <option *ngFor="let categoria of availableCategories" [value]="categoria">{{ categoria }}</option>
    </select>
  </div>
  <br>
  <br>
  <table class="table table table-bordered" >
    <thead>
    <tr>
      <th (click)="sortDataByColumn('ID_STORY')">PLACA DEL VEHICULO
        <i class="fa" [ngClass]="{'fa-arrow-up': orderBy === 'ID_STORY' && isAsc, 'fa-arrow-down': orderBy === 'ID_STORY' && !isAsc}"></i>
      </th>
      <th (click)="sortDataByColumn('ID_ORDER')">
        ESTADO
        <i class="fa" [ngClass]="{'fa-arrow-up': orderBy === 'ID_ORDER' && isAsc, 'fa-arrow-down': orderBy === 'ID_ORDER' && !isAsc}"></i>
      </th>
      <th (click)="sortDataByColumn('SERVICE')">
        SERVICIO
        <i class="fa" [ngClass]="{'fa-arrow-up': orderBy === 'SERVICE' && isAsc, 'fa-arrow-down': orderBy === 'SERVICE' && !isAsc}"></i>
      </th>
      <th (click)="sortDataByColumn('DESCRIPTION')">
        DESCRIPCIÓN DE LA ORDEN
        <i class="fa" [ngClass]="{'fa-arrow-up': orderBy === 'DESCRIPTION' && isAsc, 'fa-arrow-down': orderBy === 'DESCRIPTION' && !isAsc}"></i>
      </th>
      <th (click)="sortDataByColumn('RESPONSIBLE_TECHNICIAN')">
        TECNICO RESPONSABLE
        <i class="fa" [ngClass]="{'fa-arrow-up': orderBy === 'RESPONSIBLE_TECHNICIAN' && isAsc, 'fa-arrow-down': orderBy === 'RESPONSIBLE_TECHNICIAN' && !isAsc}"></i>
      </th>
      <th>COSTO TOTAL</th>
      <th>MODIFICAR</th>
      <th>VER</th>
      <th>ELIMINAR</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dato of filterByCategory() | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage">
      <td>{{getPlateByHistory(dato.ID_STORY)}}</td>
      <td>{{ dato.STATUS_ORDER }}</td>
      <td>{{ dato.SERVICE }}</td>
      <td>{{ dato.DESCRIPTION }}</td>
      <td>{{ dato.RESPONSIBLE_TECHNICIAN }}</td>
      <td>{{ dato.TOTAL_COST }}</td>
      <td>
         <button class="btn btn-primary" (click)="modifyOrder(dato)" [disabled]="getStatusAppoitment(dato.ID_ORDER)">Modificar</button>
      </td>
      <td>
        <button class="btn btn-primary" (click)="viewOrder(dato)">VER</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteOrder(dato.ID_STORY, dato.ID_ORDER)">ELIMINAR</button>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination
    [totalItems]="orders.length"
    [(ngModel)]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [maxSize]="maxSize"
    [boundaryLinks]="true"
    [previousText]="'Anterior'"
    [nextText]="'Siguiente'"
    [lastText]="'Final'"
    [firstText]="'Primer'"
    (pageChanged)="onPageChange($event)">
  </pagination>
</div>
</body>
</html>
