/* Estilos para el componente de cierre de sesión */
.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: flex-start; /* Alinea el contenido en la parte superior */
}

/* Estilos para la imagen */
.image-container {
  margin-bottom: 20px;
}

.image-container img {
  width: 100px; /* Ajusta el tamaño de la imagen según tus necesidades */
}

/* Estilos para el mensaje de confirmación y el botón */
.confirmation {
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.confirmation p {
  margin-bottom: 10px;
}

.confirmation button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.confirmation button:hover {
  background-color: #2980b9;
}
