body {

  margin: 0;
  padding: 0;
}
label{
  color: black;
  font-size: 16px;
}

/* Estilos para el encabezado */
.header {
  background-color: #b4b4b4;
  color: black;
  padding: 20px;
  width: 100%;
}

/* Estilos para el logo */


/* Estilos para el formulario */
.orderService-form {
  margin-top: 5%;
  margin-left: 5%;
  color: black;
}

select {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
  width: 60%;
}

.orderService-form input[type="text"],
.orderService-form input[type="number"]{
  padding: 10px;
  width: 60%; /* Ancho ajustado */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.label {
  text-align: right;
}

textarea{
  width: 60%;
}

.buttonSave{
  padding: 10px 20px;
  background-color: #0062A9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block; /* Convertir en bloque para que ocupe todo el ancho disponible */
  margin: 0 auto; /* Margen automático en los lados para centrarlo horizontalmente */
  text-align: center;
  margin-top: 50px;
}
