<html>
<div class="header">
  <h1>ROSADRIVE</h1>
  <img src="assets/images/rosasinfondo.png" class="logo" alt="Logo de ROSADRIVE">
</div>
<div class="login-form">
  <h2>Login</h2>
  <br>
  <br>
<form (submit)="submitForm()">
  <label for="email">Email:</label>
  <br>
  <input type="email" id="email" [(ngModel)]="email" name="email" required>
  <br>
  <label for="password">Contraseña</label>
  <br>
  <input type="password" id="password" [(ngModel)]="password" name="password" required>
<br>
<br>
  <a href="http://">No tienes una cuenta</a>
  <br>
  <button class="button" type="submit">Iniciar Sesión</button>
  <br>


</form>
  <button class="button" type="submit">Iniciar Sesión</button>
</div>
<button (click)="iniciarSesion()">Iniciar sesión</button>
</html>
