<!--<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div class="header">
  <h1>ROSADRIVE</h1>
</div>
<div class="login-form">
  <h2>Login</h2>
  <form novalidate autocomplete="off" (submit)="submitForm()">
    <img src="assets/images/rosasinfondo.png" class="logo" alt="Logo de ROSADRIVE">

    <input type="text" placeholder="Correo Electronico" required>
    <br>
    <input type="password" placeholder="Contraseña" required>
    <br>


    <br>
    <a routerLink="create-account" >¿Olvidaste tu contraseña?</a>
    <p>¿No tienes una cuenta? <a routerLink="register">Regístrate aquí</a></p>

    <button type="button"(click)="signIn()" >registrar</button>
    <button>.</button>

    <br>
    <button class="button" type="button">Iniciar sesión</button>
  </form>
</div>

</body>
</html>-->

<html>
<div class="header">
  <h1>ROSADRIVE</h1>
  <img src="assets/images/rosasinfondo.png" class="logo" alt="Logo de ROSADRIVE">
</div>
<div class="login-form">
  <h2>Login</h2>
  <br>
<form (submit)="submitForm()">
  <label for="email">Email:</label>
  <br>
  <input type="email" id="email" [(ngModel)]="email" name="email" required>
  <br>
  <label for="password">Password:</label>
  <br>
  <input type="password" id="password" [(ngModel)]="password" name="password" required>
<br>
  <button class="button" type="submit">Iniciar Sesión</button>
</form>
</div>
</html>
