<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div class="header">
  <h1>ROSADRIVE</h1>
</div>
<div class="login-form">
  <h2>Login</h2>
  <form novalidate autocomplete="off"  (submit)="validateUser()">
    <img src="assets/images/rosasinfondo.png" class="logo" alt="Logo de ROSADRIVE">

    <input type="text" placeholder="Nombre de usuario" required>
    <br>
    <input type="password" placeholder="Contraseña" required>
    <br>


    <br>
    <a routerLink="create-account" >¿Olvidaste tu contraseña?</a>
    <br>
    <button class="button" type="submit">Iniciar sesión</button>
  </form>
</div>

</body>
</html>
